* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'HezaedrusRegular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

#root {
    height: 100vh;
}

input,
textarea,
button {
    font-size: 1rem;
    padding: 1rem;
    font-family: inherit;
}

img {
    max-width: 100%;
}
